html,
body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{
  width: 100%;
  height: 8vh;
  background-color: blueviolet;
  font-size: 25px;
  color: azure;
  text-align: center;
}

section {
  width: 100%;
  height: 90vh;
  text-align: center;
}

footer{
  width: 100%;
  height: 8vh;
  background-color: rgb(116, 207, 207);
  font-size: 25px;
  color: azure;
  text-align: center;
}
